<div class="hero-carousel project-bg">
  <section class="cd-intro container">
    <h1 class="cd-headline loading-bar text-shadow"><span>Lorem ipsum dolor sit amet.</span></h1>
    <p class="white-text text-shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
  </section>
</div>
<div class="cards-and-press container-fluid theme-medium">
  <div class="container card-container">
    <div class="row  ">
      <div class=" col-xs-12 col-sm-6">
        <div class="contractor-card card text-center blue-card">
          <p class="navy-text text-medium">Section1 <span role="img" aria-label="contractor">👷🏻‍♂️</span></p><a
            class="btn btn-primary" href="#">Button</a>
        </div>
      </div>
      <div class=" col-xs-12 col-sm-6">
        <div class="contractor-card card text-center blue-card">
          <p class="navy-text text-medium">Section2 <span role="img" aria-label="homeowner">‍👩🏻‍💼🏡</span></p><a
            class="btn btn-space" href="#">Button</a>
        </div>
      </div>
    </div>
    <div class="press-flex-zone"><img alt="hgtv" width="100" src="assets/images/hgtv1672.png"/><img
        alt="martha stewart" width="180" src="assets/images/martha1672.png"/><img alt="bbb" width="119"
                                                                                  src="assets/images/bbb1672.png"/><img alt="wapo" width="160" src="assets/images/wapo1672.png"/><img
        alt="today" width="120" src="assets/images/today1672.png"/></div>
  </div>
</div>
<div class="three-card-section container block">
  <div class="row  ">
    <div class=" col-xs-12 col-sm-4">
      <div class="contractor-card card text-center rounded-white"><img src="assets/images/on-your-side1672.jpg"
                                                                       alt="On your side"/>
        <div class="bottom-card col-xs-12">
          <h4>Lorem, ipsum dolor</h4>
          <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, vitae.</h5>
        </div>
      </div>
    </div>
    <div class=" col-xs-12 col-sm-4">
      <div class="contractor-card card text-center rounded-white"><img src="assets/images/transparent1672.jpg"
                                                                       alt="Transparent"/>
        <div class="bottom-card col-xs-12">
          <h4>Lorem, ipsum</h4>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
        </div>
      </div>
    </div>
    <div class=" col-xs-12 col-sm-4">
      <div class="contractor-card card text-center rounded-white"><img src="assets/images/secure1672.jpg"
                                                                       alt="Secure"/>
        <div class="bottom-card col-xs-12">
          <h4>Lorem</h4>
          <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonials block theme-medium"><img class="callout-horn" alt="callout horn" src="assets/images/callout1672.png"/>
  <div class="text-center">
    <h2>Lorem ipsum dolor sit amet.</h2>
  </div>
  <div class="slider-container">
    <div class="slick-initialized slick-slider">
      <div class="slick-list">
        <div class="slick-track">
          <div data-index="0" class="slick-slide slick-active slick-cloned" tabindex="-1"
               style="outline:none;max-width: 475px">
            <div class="contractor-card card testimonial contractor-testimonial rounded-white">
              <div class="navy-text testimonial-quote-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima facere obcaecati quam non temporibus quos, rem natus quibusdam? Dolores
                id repudiandae, quasi illo nisi debitis corporis vero amet ipsa asperiores ullam. Voluptas ad distinctio doloremque.
              </div>
              <h5><span class="navy-text text-strong">Lorem, ipsum. 👷</span><br/>
                <small
                    class="slate-text">Lorem, ipsum dolor.
                </small>
              </h5>
            </div>
          </div>
          <div data-index="1" class="slick-slide slick-active slick-cloned" tabindex="-1"
               style="outline:none">
            <div class="contractor-card card testimonial contractor-testimonial rounded-white">
              <div class="navy-text testimonial-quote-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vel voluptates accusantium, ad, voluptatem consectetur commodi similique,
                repellat modi quam voluptate. Officiis a dolore possimus?
              </div>
              <h5><span class="navy-text text-strong">Lorem, ipsum. 👷</span><br/>
                <small
                    class="slate-text">Lorem, ipsum dolor.
                </small>
              </h5>
            </div>
          </div>
          <div data-index="2" class="slick-slide slick-active slick-cloned" tabindex="-1"
               style="outline:none">
            <div class="contractor-card card testimonial contractor-testimonial rounded-white">
              <div class="navy-text testimonial-quote-box">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque perferendis reiciendis ipsum fugiat amet nulla facilis impedit
                laborum deleniti similique iure dicta non adipisci quibusdam modi cumque at, rerum, dolorem cum placeat eaque quod. Sint possimus at tenetur corporis.
              </div>
              <h5><span class="navy-text text-strong">Lorem, ipsum. 👷</span><br/>
                <small
                    class="slate-text">Lorem, ipsum dolor.
                </small>
              </h5>
            </div>
          </div>
          <div data-index="3" class="slick-slide slick-active slick-cloned" tabindex="-1"
               style="outline:none">
            <div class="contractor-card card testimonial contractor-testimonial rounded-white">
              <div class="navy-text testimonial-quote-box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab vel maxime nulla, sit at omnis aut aliquid inventore neque pariatur.</div>
              <h5><span class="navy-text text-strong">Lorem, ipsum. 👩🏡</span><br/>
                <small
                    class="slate-text">Lorem, ipsum dolor.
                </small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
