<footer id="footer">
  <div class="container">
    <div class="row trust-logos visible-xs row-no-margin">
      <h5><span class="navy-text">Questions? Call us at <a class="highlight-text" href="tel:8004186605">(800)
                                  418-6605</a></span></h5>
    </div>
    <br class="visible-xs visible-sm"/>
    <div class="row footer-link-container row-no-margin">
      <div class=" col-xs-12 col-sm-3 col-no-padding">
        <div>
          <div class="visible-xs">
            <h6 class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#mb"
                aria-expanded="false" aria-controls="mb">Footer Title1<i class="fa fa-angle-down"></i></h6>
            <div id="mb" class="panel-collapse collapse">
              <ul>
                <li><a href="#">FooterTitle1</a></li>
                <li><a href="#">FooterTitle1</a></li>
                <li><a href="#">FooterTitle1</a></li>
                <li><a href="#">FooterTitle1</a></li>
                <li><a href="#">FooterTitle1</a></li>
                <li><a href="#">FooterTitle1</a></li>
              </ul>
            </div>
          </div>
          <div class="hidden-xs">
            <h6>FooterTitle1</h6>
            <ul>
              <li><a href="#">FooterTitle1</a></li>
              <li><a href="#">FooterTitle1</a></li>
              <li><a href="#">FooterTitle1</a></li>
              <li><a href="#">FooterTitle1</a></li>
              <li><a href="#">FooterTitle1</a></li>
              <li><a href="#">FooterTitle1</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class=" col-xs-12 col-sm-3 col-no-padding">
          <div>
            <div class="visible-xs">
              <h6 class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Contractors"
                  aria-expanded="false" aria-controls="Contractors">FooterTitle2<i class="fa fa-angle-down"></i></h6>
              <div id="Contractors" class="panel-collapse collapse">
                <ul>
                  <li><a href="#">FooterTitle2</a></li>
                  <li><a href="#">FooterTitle2</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs">
              <h6>FooterTitle2</h6>
              <ul>
                <li><a href="#">FooterTitle2</a></li>
                <li><a href="#">FooterTitle2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" col-xs-12 col-sm-3 col-no-padding">
          <div>
            <div class="visible-xs">
              <h6 class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Products"
                  aria-expanded="false" aria-controls="Products">FooterTitle3<i class="fa fa-angle-down"></i></h6>
              <div id="Products" class="panel-collapse collapse">
                <ul>
                  <li><a href="#">FooterTitle3</a></li>
                  <li><a href="#">FooterTitle3</a></li>
                  <li><a href="#">FooterTitle3</a></li>
                  <li><a href="#">FooterTitle3</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs">
              <h6>FooterTitle3</h6>
              <ul>
                <li><a href="#">FooterTitle3</a></li>
                <li><a href="#">FooterTitle3</a></li>
                <li><a href="#">FooterTitle3</a></li>
                <li><a href="#">FooterTitle3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" col-xs-12 col-sm-3 col-no-padding">
          <div>
            <div class="visible-xs">
              <h6 class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#Fund-any-project"
                  aria-expanded="false" aria-controls="Fund-any-project">Footer Title4<i class="fa fa-angle-down"></i></h6>
              <div id="Fund-any-project" class="panel-collapse collapse">
                <ul>
                  <li><a href="#">FooterTitle4</a></li>
                  <li><a href="#">FooterTitle4</a></li>
                  <li><a href="#">FooterTitle4</a></li>
                  <li><a href="#">FooterTitle4</a></li>
                  <li><a href="#">FooterTitle4</a></li>
                  <li><a href="#">FooterTitle4</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs">
              <h6>FooterTitle4</h6>
              <ul>
                <li><a href="#">FooterTitle4</a></li>
                <li><a href="#">FooterTitle4</a></li>
                <li><a href="#">FooterTitle4</a></li>
                <li><a href="#">FooterTitle4</a></li>
                <li><a href="#">FooterTitle4</a></li>
                <li><a href="#">FooterTitle4</a></li>
              </ul>
            </div>
          </div>
          <br class="visible-xs"/>
        </div>
      </div>
      <div class="hidden-xs col-xs-12 col-no-padding">
        <h5><span class="navy-text">Questions? Call us at <a class="highlight-text" href="tel:8004186605">(800)
                                    418-6605</a></span></h5>
      </div>
      <div class=" col-xs-12 col-no-padding">
        <hr/>
      </div>
      <div class="help-text-box col-xs-12 col-sm-8 col-no-padding"><a href="mailto:info@gombanc.com" class="help-text">Contact</a><a
          target="_blank" rel="noopener noreferrer" href="#" class="help-text">Privacy Policy</a><a target="_blank"
                                                                                                    rel="noopener noreferrer" href="#" class="help-text">Terms of Use</a></div>
      <div class=" col-xs-12 col-sm-4 col-no-padding">
        <div class="trust-logos">
          <div class="trust-icons">
            <div class="trust-col col-xs-3"><a href="https://portal.hud.gov/hudportal/HUD?src=/program_offices/fair_housing_equal_opp"><img alt="ehl" style="max-width:64px"
                                                                                                                                            src="assets/images/ehl.png"/></a></div>
            <div class="trust-col col-xs-3"><a href="https://portal.hud.gov/hudportal/HUD"><img alt="hud" style="max-width:64px" src="assets/images/hud.png"/></a></div>
            <div class="trust-col col-xs-3"><a href="http://nmlsconsumeraccess.org/"><img alt="nmls" style="max-width:64px" src="assets/images/nmls.png"/></a></div>
            <div class="trust-col col-xs-3"><a href="https://www.usda.gov/"><img alt="usda" style="max-width:64px" src="assets/images/usda.png"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display:none"><span itemProp="name">mb</span><span itemProp="position" content="1">&gt;</span></div>
</footer>
