<section class="theme-medium">
  <div class="container input-cta">
    <div class="row">
      <div class="col-sm-7">
        <h3>Lorem ipsum dolor sit, amet consectetur</h3>
        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
      <div class="col-sm-5">
        <form class="newsletter-form">
          <div class="form-inline">
            <div class="form-group">
              <label for="fieldEmail" class="control-label">Email</label>
              <input type="email" id="fieldEmail" class="form-control input-lg" name="email" placeholder="Email" value="" required=""/>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">
              Get Advice
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
