<app-mb-heading-section
    [header]="'Foreign National Loan Program'"
    [subheader]="'True No Income Check and Cash Out can be Used as Reserves.'"
    [buttonLabel]="'Apply Now For Foreign National'"
></app-mb-heading-section>
<div class="container-fluid">
  <div class="row">
    <div class="redesign micro-vertical">
      <section class="container micro-text">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 id="find-roof-financing-through-mb">What is a Foreign National Loan?</h2>
            <p><strong>Foreign National Loan is for those who lack residency in the US and wants to purchase second home, or investment property.</strong></p>
            <p>For self-employed or small business owners looking for a business investment, a true stated income loan might work for you. With a true stated income loan, clients in the program can
              access any of our flexible down payment options. </p>
            <p><em>You are eligible if you have the amount of the loan requested sitting in the bank after the down payment, closing costs, 6 – 12 months PITI (Principle, Interest, Taxes, & Insurance)
              Reserves on the property, 2 months PITI Reserves on investment properties, and – lastly – 5 years of revolving debt payments.</em></p>
            <p>Instead of simply stating what you make, <img alt="Logo" class="navbar-brand-image" src="assets/images/logo.svg" style="width: 8%;"/> will ask for at least 12 months of bank statements,
              maybe 24, to determine your income. These can be personal bank statements, business bank statements, or both.

            <p><img alt="Logo" class="navbar-brand-image" src="assets/images/logo.svg" style="width: 8%;"/> will then calculate your monthly income by averaging those deposits over the accompanying
              12- or 24-month period. If you’re a self-employed borrower, you may also be asked to provide a Profit and Loss Statement (P&L) that substantiates the deposits.</p>

            <p>Again, everything needs to make sense, and any large deposits will be flagged and require explanation. In other words, taking out a loan or having someone make deposits into your bank
              account will likely be noticed/scrutinized by the underwriter.</p>
            <p>Loan amounts and assets vary widely, but, to put this into practice, here is an example:</p>
            <p><strong>An individual purchasing a home for $1 million with a 20% down payment needs:</strong></p>
            <ul>
              <li>
                <p><strong>$200,000 </strong> as a down payment.</p>
              </li>
              <li>
                <p><strong>PITI Reserves </strong> of 6 months - $41,000</p>
              </li>
              <li>
                <p><strong>Average Closing Costs </strong>totaling $24,000. </p>
              </li>
              <li>
                <p><strong>Revolving Debts </strong> of $1,000 per month for 5 years - $60,000 </p>
              </li>
            </ul>

            <p><em>The above numbers break down as follow:</em></p>
            <ul>
              <li>
                <p><strong>Total </strong> $325,000</p>
              </li>
              <li>
                <p><strong>Loan Requested</strong> $800,000</p>
              </li>
              <li>
                <p><strong>Total Required in thank or in Other Assets</strong> $1,125,000</p>
              </li>

            </ul>
            <p>
              <button class="btn btn-lg btn-primary btn btn-primary btn-lg" type="button">Apply Now For True Stated Income</button>
            </p>
          </div>
        </div>
      </section>
      <app-mb-section-info-more-content></app-mb-section-info-more-content>
      <app-mb-section-info-save-money-cta
          [header]="'We Can Help You Qualify'"
          [content]="'Call Us Today and Talk to a Certified Mortgage Professional'"
          [buttonOneText]="'(800) 339-9757'"
          [buttonTwoText]="'Lorem, ipsum dolor.'"
      ></app-mb-section-info-save-money-cta>
      <app-mb-section-get-advice></app-mb-section-get-advice>
    </div>
  </div>
</div>
