<div class="disclosure-footer">
  <div class="container">
    <div class="row">
      <div id="not-a-lender" class="col-sm-12 disclosure-text">
        <p style="font-size: x-small;"><b></b>
          MBANC, A MORTGAGE LENDER. MORTGAGE BANK OF CALIFORNIA DBA MBANC. NMLS ID # 38232. ALABAMA
          CONSUMER CREDIT LICENSE - LICENSE # 22577. ARIZONA MORTGAGE BANKER LICENSE - LICENSE # 0943170.
          CALIFORNIA - DBO FINANCE LENDERS LAW LICENSE - LICENSE # 60DBO45280. CALIFORNIA - DRE REAL
          ESTATE CORPORATION LICENSE ENDORSEMENT - LICENSE # 01521655. COLORADO MORTGAGE COMPANY
          REGISTRATION - REGULATED BY THE DIVISION OF REAL ESTATE. CONNECTICUT MORTGAGE LENDER LICENSE -
          LICENSE # ML-38232. DISTRICT OF COLUMBIA MORTGAGE DUAL AUTHORITY LICENSE - LICENSE # MLB38232.
          FLORIDA MORTGAGE LENDER LICENSE - LICENSE # MLD1287. GEORGIA MORTGAGE LENDER
          LICENSE/REGISTRATION - LICENSE # 48090 (DBA MBOC HOME LOANS). MARYLAND MORTGAGE LENDER LICENSE
          - LICENSE # 21870. NEVADA MORTGAGE BROKER LICENSE - LICENSE # 4646. NEW JERSEY RESIDENTIAL
          MORTGAGE LENDER LICENSE - REGULATED BY THE DEPARTMENT OF BANKING & INSURANCE. OHIO RESIDENTIAL
          MORTGAGE LENDING ACT CERTIFICATE OF REGISTRATION - LICENSE # RM.804374.000. TEXAS - SML
          MORTGAGE BANKER REGISTRATION - REGULATED BY THE DEPARTMENT OF SAVINGS AND MORTGAGE LENDING.
          UTAH MORTGAGE ENTITY LICENSE - LICENSE # 10877496, 10826912, 10827018.
          <br/>
          <br/>
          NEITHER MBANC NOR MORTGAGE BANK OF CALIFORNIA IS A CHARTERED BANK OR TRUST COMPANY, OR
          DEPOSITORY INSTITUTION. THEY ARE NOT AUTHORIZED TO ACCEPT DEPOSITS OR TRUST ACCOUNTS AND ARE
          NOT LICENSED OR REGULATED BY ANY STATE OR FEDERAL BANKING AUTHORITY.</p>
      </div>
    </div>
  </div>
</div>
